<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/list.css">
    <!-- endbuild -->
  </head>
  <body ng-app="agendaApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    <div ng-controller="LoginCtrl">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <form id="signin" class="" role="form" ng-submit="loginTeste(user)">
                    <div class="loginMargin">
                        <div ng-hide="auth">
                            <li>
                                <div class="col-sm-2">
                                    <div class="input-group" ng-class="{'has-error': loginError.username }">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="username" type="text" class="form-control" name="username" ng-model="user.username" placeholder="Username">
                                    </div>
                                    <label class="control-label" for="username" ng-if='loginError.username'><span ng-repeat='error in loginError.username'>{{ error }}<br/></span></label>
                                </div>
                            </li>
                            <li>
                                <div class="col-sm-2">
                                    <div class="input-group" ng-class="{'has-error': loginError.password }">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="user.password"> 
                                    </div>
                                    <label class="control-label" for="password" ng-if='loginError.password'><span ng-repeat='error in loginError.password'>{{ error }}<br/></span></label>
                                </div>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-primary">Login</button>    
                                <button class="btn btn-primary" ng-click="newUser()">New User</button>
                            </li>
                        </div>
                        <div ng-hide="!auth">
                            <li>
                                <button ng-click="logout()" class="btn btn-primary">Logout</button>
                            </li>
                        </div>
                    </div>
                </form>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container">
        <div ng-view=""></div>
        </div>
    </div>
   

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/list-person.js"></script>
        <script src="scripts/controllers/create-person.js"></script>
        <script src="scripts/services/person-factory.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/create-user.js"></script>
        <script src="scripts/controllers/confirmation-modal.js"></script>
        <script src="scripts/controllers/detail-person.js"></script>
        <script src="scripts/directives/mask-tel.js"></script>
        <script src="scripts/services/auth-interceptor.js"></script>
        <!-- endbuild -->
</body>
</html>
